In [15]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
#Wykorzystanie różnorodynch cech

data = pd.read_csv('titanic.tsv', sep='\t')
prev_data = data.copy()

data['Sex'] = data['Sex'].apply(lambda x: 0 if x == 'male' else 1)
data['Age'] = data['Age'].fillna(int(data['Age'].mean()))
data['Cabin'] = data['Cabin'].fillna(0).apply(lambda x: 1 if x != 0 else x)
data['Fare'] = data['Fare'].round(0)

emb_list = {j:i for i,j in enumerate(pd.unique(data["Embarked"]))}
data['Embarked'] = data['Embarked'].apply(lambda x: emb_list[x])

data['Name'] = data['Name'].str.split('\t ', expand=True)[1].str.split('.', expand=True)[0]
titles_dict = {j:i for i,j in enumerate(pd.unique(data['Name']))}
data['Name'] = data['Name'].apply(lambda x: titles_dict[x])

data ['Ticket'] = pd.to_numeric(data['Ticket'], errors='coerce').fillna(0).apply(lambda x: 1 if x != 0 else x)

,Survived,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,530,2,0,0,23.0,2,1,1.0,12.0,0,0
1,0,466,3,0,0,38.0,0,0,0.0,7.0,0,0
2,0,753,3,0,0,33.0,0,0,1.0,10.0,0,0
3,0,855,2,1,1,44.0,1,0,1.0,26.0,0,0
4,0,333,1,0,0,38.0,0,1,0.0,153.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
618,0,660,1,0,0,58.0,0,2,1.0,113.0,1,1
619,1,85,2,2,1,17.0,0,0,0.0,10.0,0,0
620,1,521,1,2,1,30.0,0,0,1.0,94.0,1,0
621,1,644,3,0,0,29.0,0,0,1.0,56.0,0,0
622,1,831,3,1,1,15.0,1,0,1.0,14.0,0,1

In [37]:
#Przygotowanie danych to uczenia
X = data.drop('Survived', axis=1)
y = data['Survived']

#Podzielenie na zbiore uczacy i testowy
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 0)

#Stworzenie modelu
model = LogisticRegression(solver='newton-cg').fit(X_train, y_train)

y_pred = model.predict(X_test)

#Ewaluacja
model.score(X_test, y_test)

0.7718446601941747